* {
	box-sizing: border-box;
}

body {
	color: greenyellow;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: ff-typestar-black-web,Input Sans,Lucida Console,Monaco,monospace;
	height: 100vh;
	background: black url("/bg.jpg") right bottom no-repeat;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  background-position-y: bottom;
}

a {
	color: greenyellow;
	position: relative;
	text-decoration: none;
	padding: 8px 0;
}

a:after {
	content: "";
	border-bottom: solid 2px greenyellow;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.25s;
}

a:hover:after {
	transform-origin: left;
  transform: scaleX(1);
}

.container {
	max-width: 1200px;
	padding: 24px;
	margin: auto;
	height: 100vh;
}

header {
	display: flex;
	position: sticky;
	justify-items: center;
}

header svg {
	width: 60px;
	height: 60px;
}

header nav {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	align-items: center;
}

header .links {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
}

header .links li {
  margin-right: 24px;
}

main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 90%;
}

main h1 {
	font-size: 120px;
	margin: 0;
	font-weight: 900;
	text-transform: uppercase;
  letter-spacing: 4px;
}

main p {
	font-size: 36px;
	margin: 0;
	max-width: 760px;
}

main p .carret {
	animation: blink 1s infinite;
}

@media(max-width: 760px) {

	main h1 {
		font-size: 66px;
	}

	main p {
		font-size: 24px;
	}
}

@keyframes blink {
  0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
  100% {
    opacity: 0;
  }
}
